h1{
  color:#ff4d4d;
 margin-left:30px;
  font-family:Lucida Sans;
  font-size:60px;
  text-align:center;
  
}
body{
    
	background-color:#FFFFFF;
	color:#f5f5f5;
	text-align:center;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans"," Verdana", "sans-serif";}
body{
  
  
  background-size: cover;
  /*background-image:url('https://i.ytimg.com/vi/D3qh7N_nOcE/maxresdefault.jpg');*/
    background-repeat: no-repeat;
   background-position: center;
 
  
  
}
a{
	color:#000000;
	text-decoration:underline;
  margin-left:auto;
}
#loginform{
	margin-top:10px;
  margin-left:auto;
  margin-right:auto;
	width:300px;
}
.input{
	width:300px;
    padding:15px 25px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	background: #f5f5f5;
	border:none;
	border-radius: 5px;
	color: #333;
	font-size: 14px;
	margin-top:15px;
}
.loginbutton{
	background-color:#ffdd00;
	border-radius:5px/5px;	
	color:#333;
	display:inline-block;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:18px;
	font-weight:bold;
	width:270px;
	text-align:center;
	line-height:50px;
	text-decoration:underline;
	height:50px;
	margin-top:20px;
	margin-bottom:20px;
	border:none;
	outline:0;
	cursor: pointer;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
}
.loginbutton:hover{
  background-color:#e5bf05;
}

  
 .loginbutton:active {
	position:relative;
	top:1px;
}
